.serviceSelection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.serviceSelection label {
    margin-bottom: unset;
}

.serviceSelection div {
}