.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.colorPicker {
    position: relative;
}

.colorPicker > span {
    border: 1px solid black !important;
}

.colorPicker > span > div {
    border: 1px solid white !important;
}

.colorPicker > div {
    position: absolute !important;
    z-index: 3;
    margin-left: -200px;
}