.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: visible;
}

.headers {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--rs-body);
    z-index: 4;
    border-bottom: 1px solid var(--rs-border-secondary);
}

.providers {
    display: flex;
    box-shadow: #32325d1c 0 4px 6px, #00000014 0 1px 3px;
    justify-content: space-between;
    height: 64px;
}

.providers > div {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 10px;
    padding-left: 10px;
    border-right: 1px solid var(--rs-border-secondary);
}

.providers > div > div {
    display: flex;
    flex-direction: column;
}

.providers img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: #32325d1c 0 4px 6px, #00000014 0 1px 3px;
}

.providers small {
    color: var(--rs-text-secondary);
}

.mainControls {
    display: flex;
    align-items: center;
    height: 72px;
    padding-left: 40px;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid var(--rs-border-secondary);
}

.dayControls {
    display: flex;
    gap: 10px;
}

.dayControls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--rs-btn-default-text);
    background: var(--rs-btn-default-bg);
    transition: all 0.3s ease;
}

.dayControls button:hover {
    color: var(--rs-btn-default-active-text);
    background: var(--rs-btn-default-active-bg);
    transition: all 0.3s ease;
}

.activeDate button {
    background: none;
    font-size: 24px;
    font-weight: bold;
}

.activeDate span {
    color: var(--rs-text-secondary);
    font-size: 24px;
    margin-left: 10px;
}

.activeDate {
    position: relative;
    display: flex;
    align-items: center;
}

.datePicker {
    position: absolute;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

.row {
    display: flex;
    position: relative;
}

.timeStamp {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.timeStamp span {
    color: var(--rs-text-secondary);
}

.block {
    flex: 1;
    height: 100px;
    border: 1px solid var(--rs-border-secondary);
    display: flex;
    padding: 10px;
    position: relative;
    overflow: visible;
}

.events {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-bottom: 10rem;
}

.allDay {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-right: 1px solid var(--rs-border-secondary);
}

.appointment {
    position: absolute;
    width: calc(100% - 4px);
    margin-left: -8px;
    color: var(--rs-btn-default-text);
    background: var(--rs-btn-default-bg);
    z-index: 3;
    border-radius: 10px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    box-shadow: #32325d1c 0 4px 6px, #00000014 0 1px 3px;
}

.body {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 20px;
}

.innerds {
    position: relative;
    display: flex;
    flex-direction: column;
}

.appointment label {
    margin-bottom: 1px;
    color: var(--rs-text-secondary);
}

.appointment .editBtn {
    background: none !important;
    justify-self: flex-end;
}

.appointment .editBtn:hover {
    background: none !important;
}

.leadInfo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.leadInfo button {
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.services {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.overlay {
    color: var(--rs-text-secondary);
    background: var(--rs-bg-card);
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    border: 1px solid var(--rs-border-secondary);
    box-shadow: #32325d1c 0 4px 6px, #00000014 0 1px 3px;
    margin-left: -200px;
    z-index: 3;
    flex-direction: column;
}

.overlay button {
    margin: 5px 0;
    background: none !important;
    transition: all 0.3s ease;
}

.overlay button:hover {
    color: var(--rs-text-primary);
    transition: all 0.3s ease;
}

.overlay hr {
    margin: 10px 0;
}

.currentTimeLine {
    position: absolute;
    left: 20px;
    width: calc(100% - 20px);
    height: 1px;
    overflow: visible;
    z-index: 2;
    border-top: 1px solid var(--rs-blue-500);
    transition: all 0.3s ease;
}

.currentTimeLine span {
    position: absolute;
    margin-top: -16px;
    background: var(--rs-blue-500);
    padding: 5px;
    padding-right: 15px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    color: white;
}

.lunch {
    justify-content: center;
    align-items: center;
}

.block h5 {
    display: none;
}

.lunch h5 {
    display: block;
    position: absolute;
    letter-spacing: 4px;
    font-size: 34px;
    color: var(--rs-border-secondary);
}

.infoBar {
    width: calc(100% + 10px);
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    top: 0;
    background: var(--rs-btn-default-bg);
}

.infoBar .left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--rs-text-secondary);
}

.infoBar div:global(.rs-tag) {
    box-shadow: #32325d1c 0 4px 6px, #00000014 0 1px 3px;
    cursor: pointer;
}

.checked_out {
    color: var(--rs-green-500);
    font-weight: bold;
}

.checked_in {
    color: var(--rs-yellow-500);
    font-weight: bold;
}

.attention {
    color: var(--rs-red-500);
    font-weight: bold;
}